.textinputclass{
    width : 70%!important;
    margin-right:100;
    padding: 10;
    text-align: left;
    enabled:false;
}

.align-center{
  text-align: center;
}

.clear_background{
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left:10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(../Images/background2.gif);
  background-repeat: round;
  border-radius: 20px;

}

img {
    max-width: 100%;
    max-height: 100%;
}

.faded{
  background-color: rgba(255, 255, 255, 0.3);

}

#tabs, #tabs ul{
  background: none;
  background-color: inherit;
  border: none;
}

.tab-list li{
  font-family: 'eczar', serif;
  font-size: 1.2em;
  font-weight: bold;
  color:black;
}

.tab-list li a{
  color:black;
}

.nofade{
  background-color: rgba(255, 255, 255, 0.6);
}

body {
    background-image:    url(../Images/background1.gif);
    background-size:     cover!important;
    background-repeat:repeat;
    background-size: 100%;
}

.inline-content{
  display:inline;
}

.horizontal-center{
  margin: auto;
}

/*.horizontal-center p{
  text-align: center!important;
}*/

.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

#countdown_timer{
    font-weight: bold;
    font-style: italic;
}

.test-input-class{
    height: 100px!important;
}

.Areaclass{
    width:70%!important;
}

.smallAreaClass{
    width:320px!important;
}

.createuser-form{
    width:50%;
    margin-right:100;
    text-align: left;
}

.font-bitter{
  font-family: 'Bitter', serif;
  font-size:1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.font-eczar{
  font-family: 'Eczar', serif;
  font-size: 1.5em;
}

.font-def{
  color: black;
}

.font-sans-pro{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: :1.5em;
}

.navbar-right{
  margin-right:10px;
}

.activity-list{
  margin-left:50px;
  border:black;
  float: left;
  height: 100%;
  width: auto;
}

.template-content{
  margin-left:300px;
  height: 100%;
}



table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}

.emphasize{
  font-style: italic;
  font-weight: 300;
  text-decoration: underline;
}

.radio label{
  font-family: 'Eczar', serif;
  font-size: 1.2em;
  font-weight: bold;
}

.score-table{
  font-family: 'Eczar', serif;
  font-size: 1.2em;
  font-weight: bold;
    border-collapse: collapse;
    width: 70%;
}

.score-table td,th{
  border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.score-table tr:nth-child(even) {
    background-color: #dddddd;

}

.review-list{
  display:inline;
}

.review-list{

  padding: 12px;
  margin: 2px;
  border-radius:5px;
}

.attempted{
  background-color:rgb(124, 224, 94);
}

.unattempted{
  background-color: rgb(209, 87, 118);
}

.legend-list{
  list-style-type: none;
   padding: 0;
   font-weight: bolder;
   font-style: oblique;
}
.legend-list li:first-child{
  color:rgb(124, 224, 94);
}
.legend-list li:nth-child(2){
  color:rgb(209, 87, 118);
}
