{% extends 'base_nologon.html' %}

{% block content %}
  <div class="container template-content">
    <div class="jumbotron font-eczar faded">
      <h2> Online Test Portal</h2>
      <br>
      <p>This website was originally created for my individual learning purpose.</p>
      <p>But it can still be used to conduct online MCQ type tests for a small group.</p>
      <p>If anyone has any suggestions on how to improve this Feel free to contact me.</p>
      <p>Email mentioned on the bottom of the page</p>
    </div>
  </div>
{% endblock %}
