{% extends 'candidate_base.html' %}

{% block content %}
<h3>Time Remaining</h3>
<p id="countdown_timer" class="font-bitter"></p>
<br><br>



<div id="tabs">

  <ul class="tab-list ui-tabs">
    {% for o in obj %}
      <li><a href="#tabs-{{forloop.counter}}">{{forloop.counter}}</a></li>
    {% endfor %}
      <li><a href="#tabs-x" onClick="review_list()">Review</a></li>
  </ul>




<div class="clear_background Areaclass">


<form class="" method="post" id="test_form" name="test_form">
  {% csrf_token %}


  {% for o in obj %}
  <div id="tabs-{{forloop.counter}}">
    {% if o.image %}
      <div class="ques-img">
        <label>{{forloop.counter}}.Please consider the following image for this question.</label>
        <br>
        <img src="{{ o.image.url }}" />
      </div>
      <label>Question Statement</label>
    {% else %}
    <label>{{forloop.counter}}.</label><label>Question Statement</label>
    {% endif %}

    <textarea class="Areaclass form-control font-def" disabled rows="8" cols="50">{{ o.statement }}</textarea>
    <div class="radio">
    <label>
      <input type="radio" name="chosen{{forloop.counter}}" value="1" group="{{forloop.counter}}">
      {{ o.option1 }}
    </label>
    </div>
    <div class="radio">
    <label>
      <input type="radio" name="chosen{{forloop.counter}}" value="2" group="{{forloop.counter}}">
      {{ o.option2 }}
    </label>
    </div>
    <div class="radio">
    <label>
      <input type="radio" name="chosen{{forloop.counter}}" value="3" group="{{forloop.counter}}">
      {{ o.option3 }}
    </label>
    </div>
    <div class="radio">
    <label>
      <input type="radio" name="chosen{{forloop.counter}}" value="4" group="{{forloop.counter}}">
      {{ o.option4 }}
    </label>
    </div>
    <input type="hidden" class="Areaclass form-control" name="answer{{forloop.counter}}" test-input-class value="{{ o.answer }}"></input>
  <br><br><br>
  </div>
  {% endfor %}
<!--
  {% if o.image %}
    <div class="ques-img">
      <label>{{forloop.counter}}.Please consider the following image for this question.</label>
      <br>
      <img src="{{ o.image.url }}" />
    </div>
    <label>Question Statement</label>
  {% else %}
  <label>{{forloop.counter}}.</label><label>Question Statement</label>
  {% endif %}

  <textarea class="Areaclass form-control font-def" disabled rows="8" cols="50">{{ o.statement }}</textarea>
  <div class="radio">
  <label>
    <input type="radio" name="chosen{{forloop.counter}}" value="1">
    {{ o.option1 }}
  </label>
  </div>
  <div class="radio">
  <label>
    <input type="radio" name="chosen{{forloop.counter}}" value="2">
    {{ o.option2 }}
  </label>
  </div>
  <div class="radio">
  <label>
    <input type="radio" name="chosen{{forloop.counter}}" value="3">
    {{ o.option3 }}
  </label>
  </div>
  <div class="radio">
  <label>
    <input type="radio" name="chosen{{forloop.counter}}" value="4">
    {{ o.option4 }}
  </label>
  </div>
<br><br><br>


  <input type="hidden" class="Areaclass form-control" name="answer{{forloop.counter}}" test-input-class value="{{ o.answer }}"></input>

-->


<div id="tabs-x">
  <ul class="tab-list ui-tabs">
    {% for o in obj %}
      <li class="review-list" id="review_ele{{forloop.counter}}" ><a href="#" id="{{forloop.counter}}" onclick="change_tab(this.id)">{{forloop.counter}}</a></li>
    {% endfor %}

  </ul>
  <br>
  <ul class="legend-list font-eczar">
    <li>Attempted</li>
    <li>Not Attempted</li>
  </ul>

  <br>
  <input type="submit" class="btn btn-success" value="Submit Test" onclick="set_sub_check()"></input>

</div>

</div>
<br><br>
<input type="hidden" id="time" value="{{time_limit}}"></input>
<input type="hidden" id="obj_len" value="{{obj.count}}"></input>

<br><br><br><br>
</form>

</div>

<script>

//Check all attempted answers and appl css accordingly
function review_list(){

  for(i = 1; i <= document.getElementById('obj_len').value; i++)
  {
    var checked = $("input[group="+i+"]").is(':checked');
    if(checked == true){
      $("#review_ele"+i).removeClass("unattempted").addClass("attempted");
    }
    else {
      $("#review_ele"+i).removeClass("attempted").addClass("unattempted");
    }
  }
  //console.log(document.getElementById('obj_len').value)
  //console.log($("input[group='1']").is(':checked'));
}

//Change Tab at Review Screen
function change_tab(id){  
  var tab_str = '[href="#tabs-' + id + '"]';
  $(tab_str).click();
}

$( function() {
    $( "#tabs" ).tabs();
  } );
var minutes = document.getElementById('time').value - 1;
//var minutes = $("#time") - 1;
//console.log(document.getElementById('time').value)
var seconds = 59;
//var minutes = 0;
var sub_check = true;

function set_sub_check(){
  sub_check = false;
}

var x = setInterval(function() {
  if (minutes <= 0 && seconds == 0) {
        sub_check = false;
        document.getElementById("test_form").submit();
  }
  else {
    if(seconds > 0) {
      seconds = seconds - 1;
    }
    else {
      seconds = 59;
      minutes = minutes - 1;
    }
    document.getElementById("countdown_timer").innerHTML = minutes + "m " + seconds + "s ";
  }
}, 1000);

window.onbeforeunload = function(event) {
    if(sub_check != false)
    return 'Are you sure you want to leave?';
};
</script>
{% endblock %}
