{% extends 'base.html' %}

{% block content %}


        {% for schedule in object_list %}
            <div class="object">
                {% if schedule.is_open %}
                <h3>{{ schedule.subject }}  (Open for Candidates)</h3>
                {% else %}
                <h3>{{ schedule.subject }}  (Closed for Candidates)</h3>
                {% endif %}         <br>
                <a class="btn btn-primary" href="{% url 'schedule_edit' pk=schedule.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        {% endfor %}


{% endblock %}
